
{% extends 'base.html.twig' %}

{% block body %}
  
    <div class="container">
        <div class="card">
            <h1 class="card-header text-white bg-primary mb-3">{{ autor.nombre }}</h1>
            <div class="card-body">
                <p class="card-text"> Apodo : {{ autor.apodo }}</p>
                <p class="card-text">Foto : {{autor.foto}} </p>
                <h5 class="card-title">Biografia : </h5>
                <p class="card-text">{{autor.biografia}} </p>
                
            </div>
            <a href="/" class="btn btn-primary"> <h3>Regresar Inicio</h3></a>
                         
       </div>
    </div>
{% endblock %}

