{% extends 'base.html.twig' %}

{% block body %}


<div class="container" align="center">
  <h1><B>CATEGORIAS</B></h1> 
</div>
<br>
<div class="container" align="left">
  <h1>
    <a href="{{ path('categoria_new') }}" class="badge badge-primary">Crear</a> 
  </h1>
</div>

<div class="container">  
  <div class="table-responsive">
    <table class=" table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Action</th>
        </tr>

      </thead>
      <tbody>
        {% for categoria in categorias %}
        <tr>
          <th scope="row"> 

            <a href=" {{ path('categoria_show', {id:categoria.id})}}">  {{ categoria.nombre }} </a> 

          </th>
      
           <th scope="row"> 
           
                <a href="{{ path('categoria_edit', { 'id': categoria.id }) }}"><span class="badge badge-warning">Editar</span></a>
                          
          </th>
          

        </tr>



        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


  {% endblock %}
